.strong {
	font-weight:900;
}
.emphasis {
	font-style: italic;
}
.underline {
	text-decoration:underline;
}
.strikethrough {
	text-decoration:line-through;
}
.highlight {
	background-color:lightyellow;
}
.code {
	font-family:monospace;
	border-top:1px solid royalblue;
	border-bottom:1px solid royalblue;
	padding-top:4px;
	padding-bottom:4px;
}
.pseudolink {
	text-decoration:underline;
	color:royalblue;
	cursor:pointer;
}
.pseudolink:hover {
	text-decoration:underline;
	color:royalblue;
}
p {
	display:block;
	min-height:1em;
	line-height:1.5em;
}
.h1 {
	width:100%;
	color:black;
	font-size:200%;
	font-weight:900;
}
.h2 {
	width:100%;
	color:royalblue;
	font-size:150%;
	font-weight:900;
}
h2 {
	color:royalblue;
}
blockquote {
	margin-left:6px;
	border-left:2px solid gray;
	padding-left:6px;
	color:black;
}
.align-left {
	text-align:left;
}
.align-center {
	text-align:center;
}
.align-right {
	text-align:right;
}
.align-justify {
	text-align:justify;
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}
