.flex-container {
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}
.flex-wrap { 
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-center {
	align-items: center;
	justify-content: center;
}
