[data-level="0"] {
	margin-left:0px;
}
[data-level="1"] {
	margin-left:15px;
}
[data-level="2"] {
	margin-left:30px;
}
[data-level="3"] {
	margin-left:45px;
}
[data-level="4"] {
	margin-left:60px;
}
[data-level="5"] {
	margin-left:75px;
}
[data-level="6"] {
	margin-left:90px;
}
[data-level="7"] {
	margin-left:105px;
}
[data-level="8"] {
	margin-left:120px;
}
[data-level="9"] {
	margin-left:135px;
}
[data-level="10"] {
	margin-left:150px;
}
